@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/*
 * Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  /* Primary color. */
  --clr-orange: hsl(25, 97%, 53%);
  /* Neutral colors. */
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(217, 12%, 63%);
  --clr-medium-gray: hsl(216, 12%, 54%);
  --clr-dark-blue: hsl(213, 19%, 18%);
  --clr-very-dark-blue: hsl(216, 12%, 8%);
  /* Attribution color. */
  --clr-brandeis-blue: hsl(212, 95%, 48%);
  /* Font. */
  --ff-primary: "Overpass", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--clr-very-dark-blue);
  color: var(--clr-white);
  font-weight: 400;
  font-family: var(--ff-primary);
  display: flex;
  flex-direction: column;
}

.card {
  max-width: 327px;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  border-radius: 0.9375rem;
  margin: auto;
  padding: 1.5rem 1.5rem 2rem;
}

.attribution {
  color: var(--clr-white);
  font-size: 0.75rem;
  margin-bottom: 1rem;
  text-align: center;
}

.attribution a {
  color: var(--clr-orange);
  text-decoration: none;
}

.attribution a:hover {
  color: var(--clr-brandeis-blue);
}